* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Albert Sans";
    margin: 0;
    background-color: var(--light-blue);
    color: white;
}

:root {
    --light-blue: #59c2da;
    --dark-blue: #255059;
}

.page--container {
    width: 100vw;
    height: 100vh;
    padding: 35px 30px 35px 30px;
}

.button {
    border-radius: 10px;
    background-color: white;
    color: var(--light-blue);
    width: 100%;
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 6px;
    font-weight: 600;
}

.button:hover {
    background-color: transparent;
    border: 2px white solid;
    color: white;
}


/* FLEX - ROW */
.home--header-container,
.home--points-container,
.settings--category-title {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

/* FLEX - COLUMN */
.home--points-text,
#category-box {
    display: flex;
    flex-direction: column;
    align-items: center;  
}


/* HOME */

/* header */
.home--header-container {
    justify-content: space-between;
}

#logo {
    border-radius: 50%;
    background-color: black;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

#header-text > h1 {
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: -10px;
}

#header-text > p {
    font-size: 0.8rem;
    color: var(--dark-blue);
    font-weight: 400;
}

/* points */
.home--points-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 25px 3px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: auto;
    width: 60%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: var(--dark-blue);
}

.home--points-container > img {
    width: 35px;
    height: 35px;
    background-color: black;
    margin-right: 30px;
}

.home--points-text {
    align-items: flex-start;
}

.home--points-text > p {
    margin: 0;
    margin-bottom: 7px;
}

.home--points-text > h4 {
    color: var(--light-blue);
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

/* categories */
.home--categories-container {
    width: 100%;
}

.home--categories-container > h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

#categories-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#category-box {
    background-color: white;
    border-radius: 10px;
    margin: 10px 15px 10px 0;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 15px;
    height: 180px;
    width: 157px;
    color: var(--dark-blue);
    text-decoration: none;
}

#category-box > h4 {
    margin: 0;
    font-weight: 600;
    text-wrap: wrap;
    align-self: flex-start;
}

#category-box > img {
    filter: drop-shadow(-10px 5px 3px rgba(0, 0, 0, 0.2));
    margin-bottom: 15px;
}

#category-box:hover {
    background-color: transparent;
    border: 2px white solid;
}


/* QUESTIONS SETTINGS */
.btn-goback {
    width: 120px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 1.1rem;
}

.settings--category-title {
    align-items: flex-start;
    margin: 40px 0 30px 0;
}

.settings--category-title > * {
    width: fit-content;
    margin: 0;
}

.settings--category-title > p {
    font-size: 1.5rem;
    margin-left: 20px;
}

#type > option,
#difficulty > option {
    color: var(--light-blue);
}

#questions,
#difficulty, 
#type {
    margin: 10px 0 10px 0;
}

#type {
    margin-bottom: 30px;
}


/* LOADING SPINNER */
.spinner {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 7px rgba(0,0,0,0.2) solid;
    border-top: 7px white solid;
    animation: spin 1.5s cubic-bezier(0.45,0.2,0.5,0.5) infinite;
    background-color: var(--lightblue);
    position: absolute;
    top: 46%;
    right: 45%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}