* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Albert Sans";
    margin: 0;
    background-color: var(--light-blue);
    color: white;
}

:root {
    --light-blue: #59c2da;
    --dark-blue: #255059;
    --yellow: #efe864;
}

.page--container {
    width: 98vw;
    padding: 15px 25px 30px 25px;
}

.button {
    border-radius: 15px;
    background-color: white;
    color: var(--light-blue);
    width: 100%;
    height: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 6px;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Albert Sans";
}

.button:hover {
    background-color: transparent;
    border: 2px white solid;
    color: white;
    cursor: pointer;
}


/* FLEX - ROW */
.home--header-container,
.home--points-container,
.settings--category-title,
.quiz--header,
.quiz--status-bar-container,
#points-container,
.welcome-container {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

/* FLEX - COLUMN */
.home--points-text,
.category-box,
#end-results,
#loading-page {
    display: flex;
    flex-direction: column;
    align-items: center;  
}


/* HOME */

/* header */
.home--header-container {
    justify-content: space-between;
}

#profile {
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
    border: 1px white solid;
}

#header-text > h1 {
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: -10px;
}

#header-text > p {
    font-size: 0.8rem;
    color: var(--dark-blue);
    font-weight: 400;
}

/* points */
#points-container {
    width: 220px;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
}

.home--points-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 25px 3px rgba(0, 0, 0, 0.1);
    padding: 15px;
    justify-content: center;
    color: var(--dark-blue);
}

.home--points-container > img {
    margin-right: 30px;
}

.home--points-text {
    align-items: flex-start;
}

.home--points-text > p {
    margin: 0;
    margin-bottom: 7px;
}

.home--points-text > h4 {
    color: var(--light-blue);
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

#reset-button {
    background-color: white;
    font-weight: 200;
    font-size: 2rem;
    border-radius: 15px;
    border: none;
    padding: 12px;
    display: flex;
    justify-content: center;
}

#reset-button:hover {
    background-color: transparent;
    border: 1.5px var(--dark-blue) solid;
    cursor: pointer;
}

/* categories */
.home--categories-container {
    width: 100%;
}

.home--categories-container > h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

#categories-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content:space-between;
    width: 100%;
    grid-column-gap: 10vw;
}

.category-box {
    background-color: white;
    border-radius: 10px;
    margin: 10px 15px 10px 0;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 15px;
    height: 180px;
    width: 157px;
    color: var(--dark-blue);
    text-decoration: none;
}

.category-box > h4 {
    margin: 0;
    font-weight: 600;
    text-wrap: wrap;
    align-self: flex-start;
}

.category-box > img {
    filter: drop-shadow(-10px 5px 3px rgba(0, 0, 0, 0.2));
    margin-bottom: 25px;
}

.category-box:hover {
    background-color: transparent;
    border: 2px white solid;
}


/* QUESTIONS SETTINGS */
.btn-goback {
    width: 120px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 1.1rem;
}

.settings--category-title {
    align-items: flex-start;
    margin: 40px 0 30px 0;
}

.settings--category-title > * {
    width: fit-content;
    margin: 0;
}

.settings--category-title > p {
    font-size: 1.5rem;
    margin-left: 20px;
}

#type > option,
#difficulty > option {
    color: var(--light-blue);
}

#questions,
#difficulty, 
#type {
    margin: 10px 0 10px 0;
}

#type {
    margin-bottom: 30px;
}


/* LOADING SPINNER */
.spinner {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 7px rgba(0,0,0,0.2) solid;
    border-top: 7px white solid;
    animation: spin 1.5s cubic-bezier(0.45,0.2,0.5,0.5) infinite;
    background-color: var(--lightblue);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading-page > p {
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
}

#loading-page {
    margin-top: 40vh;
}


/* QUIZ */
.quiz--header {
    justify-content: space-between;
}

#btn-close {
    font-weight: 600;
    background-color: transparent;
    border-radius: 50%;
    border: 1px rgba(37, 80, 89, 0.05) solid;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-blue);
    text-decoration: none;
}

.quiz--status-bar-container,
#btn-close {
    border: 1px rgba(37, 80, 89, 0.05) solid;
}

.quiz--status-bar-container {
    background-color: transparent;
    padding: 0 10px 0 10px;
    border-radius: 20px;
    justify-content: space-between;
    width: 74vw;
}

#quiz--status-bar-full,
#quiz--status-bar {
    height: 7px;
    border-radius: 5px;
}

#quiz--status-bar-full {
    background-color: rgba(37, 80, 89, 0.1);
    width: 55vw;
}

#quiz--status-bar {
    background-color: var(--yellow);
}

.quiz--question-container {
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    color: black;
    border-radius: 10px;
    height: 30vh;
    margin-top: 60px;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 20px 23px 5px 23px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

#timer {
    background-color: var(--light-blue);
    border: 6px rgba(58, 58, 58, 0.15) solid;
    font-size: 1.1rem;
    z-index: 11;
}

#timer-container {
    border-radius: 50%;
    background-color: var(--light-blue);
    height: 65px;
    width: 65px;
    z-index: 10;
    top: -32.5px;
}

#timer,
#timer-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer,
#timer-bar-progress {
    border-radius: 50%;
    height: 58px;
    width: 58px;
}

#timer-bar-progress {
    z-index: 12;
    border-radius: 50%;
    border: 6px white solid;
}

#btn-answer {
    background-color: transparent;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding: 22px;
    border: 1.5px rgba(10, 10, 10, 0.15) solid;
    color: black;
    font-weight: 500;
}

#btn-answer:hover,
#btn-close:hover {
    background-color: rgba(0,0,0,0.05);
}

#btn-submit {
    margin-top: 40px;
}

.btn-correct {
    background-color: rgba(54, 148, 54, 0.6) !important;
    border: 2px rgb(54, 148, 54) solid !important;
}

.btn-incorrect {
    background-color: rgba(248, 59, 59, 0.6) !important;
    border: 2px rgb(176, 55, 55) solid !important;
}


/* QUIZ END */
#end-results {
    justify-content: center;
    padding: 40px;
    height: 80vh;
    margin: 0;
}

#end-results > h1 {
    font-size: 2rem; 
}

#end-results > h4 {
    font-size: 1.9rem;
    animation: 0.8s ease-in-out appearScore;
    letter-spacing: 4px;
}

#end-results > h5 {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 90px;
}

#end-results > Link {
    text-decoration: none;
}

@keyframes appearScore {
    0% {
        transform: translateY(-40vh);
    } 

    100% {
        transform: translateY(0);
    }
}


/* RESPONSIVE DESIGN */
@media (min-width: 640px) {
    /* HOME */
    #categories-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    #points-container {
        margin: 0;
    }

    #header-text {
        margin: 0;
        margin-left: 20px;
    }   
    
    #header-text > h1 {
        margin: 0;
        font-size: 2rem;
    }

    #header-text > p {
        margin: 0;
        font-size: 1.1rem;
    }

    #profile {
        height: 65px;
        width: 65px;
    }

    .home--header-container {
        margin-bottom: 50px;
    }

    /* SETTINGS + QUIZ*/
    .settings--container,
    .quiz--question-container,
    #end-results {
        width: 620px;
        margin: auto;
        padding: 0 35px 0 5px;
    }   

    .quiz--answers-container {
        width: 620px;
        margin: auto;
    }

    .quiz--question-container {
        margin-top: 45px;
    }

    .quiz--answers-container {
        margin-top: 25px;
    }

    .quiz--question-container {
        padding: 50px;
        text-align: center;
    }

    #btn-submit {
        margin-top: 25px;
    }
}